@import "tailwindcss";
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}
#account-btn-desktop div:hover::before {
  width: 100%;
}
#account-btn-desktop div::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid white;
  bottom: 0;
  left: 0;
  width: 0;
  transition: all 0.45s;
}
#menu div a,
#menu div a:link,
#menu div a:visited {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 25px;
}
#menu div a:hover {
  backdrop-filter: brightness(90%);
}
#menu {
  transition: all 0.3s;
}
